/*Сброс настроек*/
@import "reset.css";

/*Шрифты*/
@font-face {
  font-family: 'Conv_PFDinTextCompPro-Regular_gdi';
  src: url('../fonts/PFDinTextCompPro-Regular_gdi.eot');
  src: local('O'), url('../fonts/PFDinTextCompPro-Regular_gdi.woff') format('woff'), url('../fonts/PFDinTextCompPro-Regular_gdi.ttf') format('truetype'), url('../fonts/PFDinTextCompPro-Regular_gdi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_PFDinTextCompPro-Light_gdi';
  src: url('../fonts/PFDinTextCompPro-Light_gdi.eot');
  src: local('O'), url('../fonts/PFDinTextCompPro-Light_gdi.woff') format('woff'), url('../fonts/PFDinTextCompPro-Light_gdi.ttf') format('truetype'), url('../fonts/PFDinTextCompPro-Light_gdi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.font-PFDinTexrPro-light{
  font-family: 'Conv_PFDinTextCompPro-Light_gdi';
}
.font-PFDinTexrPro-regular{
  font-family: 'Conv_PFDinTextCompPro-Regular_gdi';
}


/*Цвета*/
@color-brown: #212121;

/*Основные элементы*/
body{
  .font-PFDinTexrPro-light;
  min-width: 960px;
}
a{
  text-decoration: none;
}

/*Анимация*/

.magictime {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.magic {
  -webkit-animation-name: magic;
  animation-name: magic;
}

.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes magic {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 200%;
    -webkit-transform: scale(1, 1) rotate(0deg);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 200% 500%;
    -webkit-transform: scale(0, 0) rotate(270deg);
  }
}
@keyframes magic {
  0% {
    opacity: 1;
    transform-origin: 100% 200%;
    transform: scale(1, 1) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform-origin: 200% 500%;
    transform: scale(0, 0) rotate(270deg);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%);
  }
}
