@import "slyle";

/**************************Главная страница (table)******************************/

.b_page{
  width: 100%;
}

.b-header{
  width: 100%;
  background: url(../img/header.png) 50% 50% no-repeat;
  height: 90px;
}
.b-header__row{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

}